body{
background-color:#577a8a;

}
._menu_box{
  background-color: ;
  background-size: 30;


}


.Menu{
    background-color:#6ba5bf;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
._menu{
  color: inherit;
  font-family: 'Anton', sans-serif;
  font-size:10;
  font-weight: 600;
}
